*.DS_Store
/.metadata
/*/.settings/
/*/.project
/*/.classpath
.gradle
/gappless-backend/build/
/gappless-backend/src/generated
/gappless-edge/bin/*
!/gappless-edge/bin/.keepme
/gappless-edge/pkg/*
!/gappless-edge/pkg/.keepme
/gappless-edge/src/edge-service/vendor/*
gappless-edge/src/edge-service/.gogradle
gappless-edge/src/edge-service/protobuf/*
!gappless-edge/src/edge-service/protobuf/.keepme
